@{
    ViewBag.Title = "AboutPage";
}
@section Body{

    <div id="AboutContainer">
        <div id="AboutInfoContainer">
            <div id="AboutInfoTextContainer">
                ImageSharing<br />

            </div>
        </div>
    </div>

}