@{
    ViewBag.Title = "AboutPage";
}

@using ImageSharing.Models;
@{
    InformationModel inform = new InformationModel();
}

@section Body{

    <div id="AboutContainer">
        <div id="AboutInfoContainer">
            <div id="AboutInfoTextContainer">
                @Html.LabelFor(m=>inform.AboutInformation)<br />

            </div>
        </div>
    </div>

}