@{
    ViewBag.Title = "PrivatePolicyPage";
}
@using ImageSharing.Models;
@{
    InformationModel inform = new InformationModel();
}

@section Body{
    <div id="PrivatePolicyContainer">
        <div id="PrivatePolicyInfoContainer">
            <div id="PrivatePolicyInfoTextContainer">
                @Html.LabelFor(m=>inform.PolicyInformation)
            </div>
        </div>
    </div>
}