@{
    ViewBag.Title = "PrivatePolicyPage";
}

@section Body{
    <div id="PrivatePolicyContainer">
        <div id="PrivatePolicyInfoContainer">
            <div id="PrivatePolicyInfoTextContainer">
                Some private policy information
            </div>
        </div>
    </div>
}