html
{
    
}
body {
    padding-bottom:80px;
    background-color:#eeeeee;
}
#MainContainer
{
    background-color:#eeeeee;
    padding-bottom:7px;
}
#MiddleContainer
{
    margin-top:95px;
    background-color:#eeeeee;
}

a div label
{
    cursor:pointer;
}

/*HEADER*/
#HeaderContainer
{
    position:fixed;
    right:0px;left:0px;top:0px;
    padding:5px;
    background-color:#eeeeee;
}
#HeaderContentContainer
{
    height:70px;
    background-color:#dcdcdc;
    display:table;
    width:100%;
}
#HeaderContentContainerRow
{
    display:table-row;
}
/*FOOTER*/
#FooterContainer
{
    position:fixed;
    right:0px;left:0px;bottom:0px;
    padding:5px;
    background-color:#eeeeee;
}
#FooterContentContainer
{
    display:table;
    height:70px;
    background-color: #dcdcdc;
    width:100%;
}
#FooterContentContainerRow
{
    display:table-row;
}
/*REFERENCE_CONTAINER*/
.ReferenceContainer
{
    display:table-cell;
    padding:2px;
    /*background-color:green;*/
    height:50px;
    vertical-align:middle;
    
}
    .ReferenceContainer a
    {
        text-decoration:none;
    }
        .ReferenceContainer a div
        {
            color:black;
            text-align:center;
            cursor:pointer;
            /*background-color:orange;*/
            height:48px;
            background-color:#dcdcdc;
        }
            .ReferenceContainer a div:hover
            {
                background-color:#9d9d9d;
            }
            .ReferenceContainer a div:active
            {
                background-color:gray;
                color:white;
            }
            .ReferenceContainer a div label
            {
                /*background-color:red;*/
                line-height:3;
            }
/*NAVIGATION*/
#NavigationContainer
{
    display:table;display:table-cell;
    border-spacing:3px;
    vertical-align:middle;
}
#NavigationContainerRow
{
    display:table-row;
}
/*LOCALIZATION*/
#LocalizationContainer
{
    display:table;display:table-cell;
    border-spacing:3px;
    vertical-align:middle;
}
#LocalizationContainerRow
{
    display:table-row;
}
/*SEARCH*/
#SearchContainer
{
    display:table;display:table-cell;
    border-spacing:3px;
    vertical-align:middle;
    /*background-color:green;*/
   /*width:10em;*/
}
#SearchContainerRow
{
    display:table-row;
}
#SearchContainerContent
{
   
}
    #SearchContainerContent form div input[name='searchString']
    {
        /*height:20px;*/
        width:25em;
        top:10px;
    }
/*REGISTER_LOGIN*/
#RegisterLoginContainer
{
    display:table;display:table-cell;
    vertical-align:middle;
}
#RegisterLoginContainerRow
{
    display:table-row;
}
/*POLICY_ABOUT*/
#PolicyAboutContainer
{
    display:table;display:table-cell;
    border-spacing:3px;
    vertical-align:middle;
}
#PolicyAboutContainerRow
{
    display:table-row;
    
}
/*HOME*/
/*AVATAR*/
#AvatarContainer
{
    float:left;
    margin-left:11%;
    max-width:18%;
    background-color:white;
    text-align:center;
    border:1px solid #e1e1e1;
    padding-top:20px;
    padding-bottom:15px;
    border-radius:4px;
}
#AvatarImageContainer
{
    margin-left:8%;
}
    #AvatarImageContainer img
    {
        max-width: 280%;
    }
#NickContainer
{
    margin-top:8%;
    font-family:Arial;
}
/*TAPE*/
#TapeContainer
{
    width:40%;
    margin-left:30%;
    padding-left:20px;padding-right:20px;
}
/*POST*/
#AddPostContainer
{
    height:auto;
}
    #AddPostContainer input[name="PostText"]
    {
        height:60px;
        width:70%;
    }
    #AddPostContainer input[name="submitButton"]
    {
        width:28%;
        height:60px;
    }
#PostContainer
{
    margin-top:30px;
    height:300px;
    padding-bottom:30px;padding-top:10px;padding-left:10px;padding-right:10px;
    border:1px solid #e1e1e1;
    background-color:white;
    border-radius:4px;
}
#PostImageContainer
{
    text-align:center;
    height:92%;
}
    #PostImageContainer img
    {
        max-width:100%;
        max-height:100%;
        cursor:pointer;
    }
#PostDescriptionContainer
{
    margin-top:1%;margin-bottom:1%;
    font-weight:500;
}
/*USERS*/
#UsersContainer
{
    padding:40px;
    width:30%;
    margin-left:30%;margin-top:20px;
    text-align:center;
}
#UserInfoContainer
{
    max-width:220px;
    margin-top:6px;
    background-color:white;
    text-align:center;
    padding:5px;
    border:1px solid #e1e1e1;
}
#AvatarImageContainer
{
    width:30%;
}
/*FRIENDS*/
#FriendsContainer form
{
    margin-left:40%;
}
#FriendsNavigationContainer
{
    float:left;
    margin-left:11%;
}
/*SUBSCRIPTIONS*/
#SubscriptionsContainer
{

}
    #SubscriptionsContainer form
    {
        margin-left:33%;
    }
        #SubscriptionsContainer form input[name='searchString']
        {
            width:25em;
        }
#SubscriptionsTable
{
    width:100%;
    border-spacing:0px;
}
    #SubscriptionsTable thead
    {
        background-color:#6495ed;
    }
    #SubscriptionsTable tr
    {
        height:55px;
    }
    #SubscriptionsTable tr:nth-child(even)
    {
        background-color:#87ceeb;
    }
/*ACCOUNT*/
#AccountContainer
{
    text-align:center;
}
    #AccountContainer form input[type='text']
    {
        margin-left:7px;
    }
    #AccountContainer form .ReferenceContainer
    {
        margin-left:46%;
    }
#ChangeAvatarContainer img
{
    width:250px;
}
/*REQUESTS*/
/*POPUP_POST*/
.table-responsive
{
}
#PopupPostAddCommentContainer
{
}
#PopupPostCommentContainer
{
    margin-top:10px;
    padding-top:1%;padding-bottom:1%;
    border:1px solid gray;
}
/*ADMINISTRATION_CONSOLE*/
#AdministrationNavigationContainer
{
    display:table;
    border-spacing:60px 30px;
    padding-left:23%;
}
#AdministrationNavigationRow
{
    display:table-row;
}
.AdministrationNavigationButtonContainer
{
    display:table-cell;
}
#CommentsConsoleContainer form table
{
    border-spacing:30px 15px;
}
#UsersConsoleContainer form table
{
    border-spacing:30px 15px;
}
#PostsConsoleContainer form table
{
    border-spacing:30px 15px;
}
/*ABOUT*/
#AboutContainer
{
    padding-top:8%;padding-bottom:8%;padding-left:21%;padding-right:21%;
    /*background-color:orange;*/
}
#AboutInfoContainer
{
    /*background-color:green;*/
    background-color:white;
    padding:4%;
    border-radius:20px;
    border:1px solid #e1e1e1;
}
#AboutInfoTextContainer
{
    /*background-color:brown;*/
    padding:1px;
    text-align:center;
}
#PrivatePolicyContainer
{
    padding-top:8%;padding-bottom:8%;padding-left:21%;padding-right:21%;
    /*background-color:orange;*/
}
#PrivatePolicyInfoContainer
{
     /*background-color:green;*/
    background-color:white;
    padding:4%;
    border-radius:20px;
    border:1px solid #e1e1e1;
}
#PrivatePolicyInfoTextContainer
{
    /*background-color:brown;*/
    padding:1px;
    text-align:center;
}
/*REGISTER*/
#RegisterContainer
{
    text-align:center;
}
    #RegisterContainer form input[type='text']
    {
        margin-left:7px;
    }
/*LOGIN*/
#LoginContainer
{
    text-align:center;
}
    #LoginContainer form input[type='text']
    {
        margin-left: 7px;
    }
    #LoginContainer form input[type='password']
    {
        margin-left: 7px;
    }
/*RECOVERY*/
#RecoveryContainer
{
}
    #RecoveryContainer form input[type='text']
    {
        margin-left:7px;
    }