@{
    ViewBag.Title = "AdministrationPage";
}
@using ImageSharing.Models;
@{
    ActionModel action = new ActionModel();
}
@section Body{
    <div id="AdministrationContainer">
        <div id="AdministrationNavigationContainer">
            <div id="AdministrationNavigationRow">
                <div class="AdministrationNavigationButtonContainer">
                    @{
                        var usersOptions = new AjaxOptions()
                            {
                                UpdateTargetId = "AdministrationConsoleContainer",
                                Url = Url.Action("UsersConsolePage", "AdminHome", new { area = "Admin" }),
                            };
                        <div id="UsersButton">
                            @using (Ajax.BeginForm(usersOptions))
                            {
                                <div class="ReferenceContainer">
                                    <a href="javascript:{}" onclick="$('#UsersButton>form').submit(); return false;">
                                        <div>
                                            @Html.LabelFor(m => action.Users)
                                        </div>
                                    </a>
                                </div>
                            }
                        </div>
                    }
                </div>
                <div class="AdministrationNavigationButtonContainer">
                    @{
                        var postsOptions = new AjaxOptions()
                            {
                                UpdateTargetId = "AdministrationConsoleContainer",
                                Url = Url.Action("PostsConsolePage", "AdminHome", new { area = "Admin" }),
                            };
                        <div id="PostsButton">
                            @using (Ajax.BeginForm(postsOptions))
                            {
                                <div class="ReferenceContainer">
                                    <a href="javascript:{}" onclick="$('#PostsButton>form').submit(); return false;">
                                        <div>
                                            @Html.LabelFor(m => action.Posts)
                                        </div>
                                    </a>
                                </div>
                            }
                        </div>
                    }
                </div>
                <div class="AdministrationNavigationButtonContainer">
                    @{
                        var commentsOptions = new AjaxOptions()
                            {
                                UpdateTargetId = "AdministrationConsoleContainer",
                                Url = Url.Action("CommentsConsolePage", "AdminHome", new { area = "Admin" }),
                            };
                        <div id="CommentsButton">
                            @using (Ajax.BeginForm(commentsOptions))
                            {
                                <div class="ReferenceContainer">
                                    <a href="javascript:{}" onclick="$('#CommentsButton>form').submit(); return false;">
                                        <div>
                                            @Html.LabelFor(m => action.Comments)
                                        </div>
                                    </a>
                                </div>
                        }
                        </div>
                    }
                </div>
            </div>
        </div>
        <div id="AdministrationConsoleContainer">
            @Html.Action("UsersConsolePage", "AdminHome", new { area = "Admin" })
        </div>
    </div>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.8.24.min.js"></script>
}